{{- if .Capabilities.APIVersions.Has "monitoring.coreos.com/v1" }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    {{- include "tor-controller.labels" . | nindent 4 }}
  name: {{ include "tor-controller.fullname" . }}-metrics-monitor
  namespace: {{ .Release.Namespace }}
spec:
  endpoints:
  - path: /metrics
    port: http
    scheme: http
  selector:
    matchLabels:
      {{- include "tor-controller.selectorLabels" . | nindent 6 }}
{{- end }}